@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 60px;
  color: #494848;
}
.primary-color {
  color: #45a5f5;
}

.btn-primary {
  text-decoration: none;
  padding: 24px 32px;
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(45, 212, 232, 1) 27%,
    rgba(63, 151, 217, 1) 77%
  );
  color: white;
  border-radius: 100px;
  max-width: 192px;
  text-align: center;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  max-height: 90vh;
  margin: 70px 30px 60px 50px;
}
.content-box {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
  max-height: 600px;
  background: rgba(73, 180, 252, 0.1);
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 10px left 200px;
  padding-top: 50px;
}

.about-section img {
  max-width: 250px;
  object-fit: contain;
  margin-left: 40px;
}

.content-box-about {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
